menu "Touch (GT911) Configuration"

config TOUCH_I2C_PORT
    int "Numéro du port I2C du tactile"
    default 0
    help
        Numéro du contrôleur I2C utilisé pour le pavé tactile GT911.

config TOUCH_SDA_GPIO
    int "GPIO SDA du GT911"
    default 10
    help
        Broche SDA utilisée pour le bus I2C du contrôleur tactile.

config TOUCH_SCL_GPIO
    int "GPIO SCL du GT911"
    default 11
    help
        Broche SCL utilisée pour le bus I2C du contrôleur tactile.

config TOUCH_INT_GPIO
    int "GPIO INT# du GT911"
    default 12
    help
        Broche d’interruption du contrôleur tactile.  Cette broche peut
        être laissée non connectée si l’on utilise la méthode de
        sondage (polling).

config TOUCH_RST_GPIO
    int "GPIO RESET du GT911"
    default 13
    help
        Broche de reset matériel du contrôleur tactile.  Elle est
        utilisée pour mettre le GT911 dans son état initial au boot.

endmenu