menu "Display Configuration"

config LCD_RESET_GPIO
    int "GPIO pour RESET de l'écran (JD9165)"
    default 38
    help
        Numéro de GPIO utilisé pour contrôler la broche RESET du
        panneau LCD JD9165.  Ce signal remet le contrôleur LCD à
        l'état initial lors de l'initialisation.

config LCD_BL_PWM_GPIO
    int "GPIO pour contrôle du rétroéclairage (PWM backlight)"
    default 39
    help
        Numéro de GPIO utilisé pour contrôler la LED de
        rétroéclairage.  Vous pouvez connecter ce signal à un
        périphérique LEDC pour moduler la luminosité par PWM.  Par
        défaut, le rétroéclairage est simplement activé en mode
        binaire.

endmenu